    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><h1>Name</h1></div>
        <div class="col-md-5"><h1>Description</h1></div>
        <div class="col-md-2"></div>
    </div>
<ul>
    {{#each Recipes}}
        <div class="row">
            <li>
                <div class="col-md-2">
                    <img src="images/{{picture}}" alt="picture_of_recipe_{{id}}" width="100px">
                </div>
                <div class="col-md-3">{{title}}</div>
                <div class="col-md-5">{{description}}</div>
                <div class="col-md-2">
                    <input class="gotoView" type="button" recipeID={{id}} value="View">
                    <input class="gotoEdit" type="button" recipeID={{id}} value="Edit">
                    <input class="delete" type="button" recipeID={{id}} value="Delete">
                </div>
            </li>
        </div>
    {{/each}}
</ul>