<div class="container">
  <div class="row text-center">
            <h1>Edit Your Recipe</h1>
            <p>Enter your favorite recipe's ingredients and directions below. Drag and Drop on the items move icon to change
                its order. Delete the item by clicking on the remove icon.</p>
  </div>

{{#each Recipes}}
  <div class="row">
    <div class="col-md-6 recipe">
      <div class="input-group-sm">
        <h3>Recipe Title</h3>
        <input type="text" value="{{title}}" class="form-control title" recipeID={{id}}>
        <h3>Description</h3>
        <input type="text" value="{{description}}" class="form-control description">
      </div>

      <div class=""> <!--Image upload-->
        <div class="">
          <img src="../images/{{picture}}" alt="picture_of_recipe_{{id}}" height="200px" class="picture">
          <form ref='uploadForm'
            id='uploadForm'
            action='/image/{{id}}'
            method='post'
            encType="multipart/form-data">
              <input type="file" name="sampleFile" />
              <input type='submit' value='Upload!' />
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Ingredients</h3>
      <form class="form">
        <div class="sort-container">
          {{#each Ingredients}}
            <div class="sort-item">
              <input type="hidden" class="sort-order-value" name="sort-order[]" value={{itm}}>
              <div class="input-group form-control ingredients">
                <input type="text" value="{{qty}}" maxlength="4" size="4" name="Qty">
                <select class="unitlist" preselect={{unitID}} name="Unit">
                </select>
                <input type="text" value="{{ingredient}}" maxlength="19" size="19" name="Ingredient">
                <div class="input-group-addon delHandle"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="input-group-addon dragdrop-handle"><span class="glyphicon glyphicon-move"></span></div>
              </div>
            </div>
          {{/each}}
        </div><!-- /.sort-container -->
        <div class="input-group">
          <div class="btn btn-default btn-sm addHandle">Add an Ingredient <span class="glyphicon glyphicon-plus"></span></div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h3>Directions</h3>
      <form class="form">
        <div class="sort-container">
          {{#each Directions}}
            <div class="sort-item">
              <input type="hidden" class="sort-order-value" name="sort-order[]" value={{step}}>
              <div class="input-group form-control directions">
                <textarea class="form-control" type="text" maxlength="150" rows="1" cols="50" style="resize: both" name=Direction>{{direction}}</textarea>
                <div class="input-group-addon delHandle"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="input-group-addon dragdrop-handle"><span class="glyphicon glyphicon-move"></span></div>
              </div>
            </div>
          {{/each}}
        </div><!-- /.sort-container -->
        <div class="input-group">
          <div class="btn btn-default btn-sm addHandle">Add a Direction <span class="glyphicon glyphicon-plus"></span></div>
        </div>
      </form>
    </div>
      </div>
  <div class="row submit-btn">
    <div class="col-md-12 text-center">
      <button class="actionButton btn btn-default" type="button" recipeID={{id}} value="Reset">Reset</button>
      <button class="actionButton btn btn-default" type="button" recipeID={{id}} value="Save">Save</button>
    </div>
    </div>
  </div>
{{/each}}
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="application/javascript">
$(document).ready(function () {
    $('.addHandle').on("click", function() {
        var itmList = $(this).parent().siblings().first()
        var grpItem = itmList.children().last()
        var newItem = grpItem.clone().appendTo(itmList)
        grpItem.children().first().value++
        src = newItem.children().last().children('input, textarea, select')
        for (i=0; i<src.length; i++) {
            src[i].value = ''
        }
        itmList.sortable('refresh');
     });

    $.each($('.unitlist'), (index, ctrl) => {
        opt = $(ctrl).attr("preselect")
        {{#each allUnits}}
            $("<option value={{id}}" + (opt == {{id}} ? " selected" : "") + ">{{abbr}} - {{unit}}</option>").appendTo(ctrl)
        {{/each}}
    })

    $('div.sort-container').on("click", "div.delHandle", function() {
        if ($(this).parent().parent().parent().children().length > 1) {
            $(this).parent().parent().remove()
            $(this).parent().siblings().first().sortable('refresh')
        }
    });

    $('.sort-container').sortable({
        placeholder: "ui-state-highlight",
        handle: ".dragdrop-handle",
        opacity: 0.5,
        cursor: "move",
        update: function (event, ui) {
            $('.sort-order-value').each(function (index, value) {
                console.log(index);
                $(value).val(index + 1);
            });
        }
    });
    $('.sort-container').disableSelection();

});
</script>
